{
    "root_enc_password": "$6$2V/57F7eZxtozJAq$uoZ9Yr4wKf4Zwd.6ZhNBUho6p84gBswB/bMkjSneBuFa569g44ng4isQQ0dMLRjCICm1e3idKyNGcpp.1KZvO/",
    "users": [
        {
            "enc_password": "$6$2V/57F7eZxtozJAq$uoZ9Yr4wKf4Zwd.6ZhNBUho6p84gBswB/bMkjSneBuFa569g44ng4isQQ0dMLRjCICm1e3idKyNGcpp.1KZvO/",
            "groups": [],
            "sudo": true,
            "username": "tester"
        }
    ]
}
